.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.description {
  color: rgb(var(--primary-color));
  text-transform: capitalize;
  font-weight: bold;
  padding: 0 0 1em;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.inputTitle {
  padding: 2em 0 0;
}
