.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0 0;
  min-height: 100vh;
}
.description {
  color: rgb(var(--primary-color));
  text-transform: capitalize;
  font-weight: bold;
  padding: 1.5em 0;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.inputTitle {
  padding: 1.5em 0 1em;
}
@media screen and (min-width: 1024px) {
  .inputTitle {
    padding: 1.5em 0 0;
  }
}
