.wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: max-content;
}
.beat {
  padding: 2em;
  text-align: center;
}
.beatLength {
  padding-bottom: 0.5em;
}
.beatMs {
  color: rgb(var(--tertiary-color));
}
