.wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
}
.beat {
  padding: 1em 0;
  text-align: center;
}
.beatLength {
  padding-bottom: 0.5em;
}
.beatMs {
  color: rgb(var(--tertiary-color));
}

@media screen and (min-width: 1024px) {
  .wrap {
    grid-template-columns: repeat(6, 1fr);
  }
  .beat {
    padding: 2em;
  }
}
